
.footer {
    background-color: rgb(27, 24, 22);
    color: #fff;
    padding: 2rem 1rem;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .logo {
    flex: 1;
    margin-right: 2rem;
  }
  
  .title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .subtitle {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .description {
    font-size: 0.9rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
  }
  
  .social i {
    font-size: 1.5rem;
    margin-right: 1rem;
    cursor: pointer;
  }
  
  .linksSection {
    display: flex;
    justify-content: space-between;
    flex: 2;
  }
  
  .column {
    margin-right: 2rem;
  }
  
  .column h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .column ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .column ul li {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
  }
  
  .column ul li:hover {
    text-decoration: underline;
  }
  