/* contenedor principal */
.container {
    background: url("https://cf.bstatic.com/xdata/images/hotel/max1024x768/238142048.jpg?k=415c99445e850ef04794b0ab0668bde4c8b021c0ac9f828cf1f0263cbc2df67d&o=&hp=1")
      no-repeat center center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    color: #fff;
  }
  
/* hero */
  .heroSection {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .title {
    font-size: 3.5rem;
    font-weight: bold;
    margin: 0;
    font-family: "Georgia", serif; /* Fuente serif */
  }
  
  .subtitle {
    font-size: 1.2rem;
    margin: 1rem 0;
  }
  
/* prerreservas */
  .bookingForm {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(27, 24, 22);
    width: 80vw;
    padding: 1.5rem 2rem;
    border: 1px solid rgb(255, 255, 255);
    box-sizing: border-box;
    gap: 2rem;
    color: #fff;
  }
  
  .inputContainer {
    display: flex;
    flex-direction: column;
  }
  
  .inputContainer label {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0.5rem;
  }
  
  .input {
    background: transparent;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    font-size: 16px;
    height: 62px;
    width: 180px;
    padding: 0.5rem;
    box-sizing: border-box;
    outline: none;
  }
  
  .input:focus {
    border-bottom-color: #ccc;
  }
  
/* botón de disponibilidad */
  .checkButton {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: all 0.4s ease;
    width: 177px;
    height: 56px;
    box-sizing: border-box;
  }
  
  .checkButton:hover {
    background-color: #fff;
    color: #000;
  }
  